﻿ 
@using CScode
 
@{
     
 
    string values = "";
    CScode.Model model = new CScode.Model();
    if (IsPost)
    {
        var h = Convert.ToDouble(Request["H1"]);
        var l = Convert.ToDouble(Request["L1"]);
        var z = Convert.ToDouble(Request["Z1"]);
        var v = Convert.ToDouble(Request["V1"]);
        var teta = Convert.ToDouble(Request["Teta1"]);
        var psi = Convert.ToDouble(Request["Psi1"]);
        var nx = Convert.ToDouble(Request["Nx1"]);
        var ny = Convert.ToDouble(Request["Ny1"]);
        var gamma = Convert.ToDouble(Request["Gamma1"]);
        
        var time = Convert.ToInt32(Request["Time"]);

        CScode.UAVstate startState = new CScode.UAVstate(v, teta, psi, h, l, z, nx, ny, gamma);
        
          h = Convert.ToDouble(Request["H2"]);
          l = Convert.ToDouble(Request["L2"]);
          z = Convert.ToDouble(Request["Z2"]);
          v = Convert.ToDouble(Request["V2"]);
          teta = Convert.ToDouble(Request["Teta2"]);
          psi = Convert.ToDouble(Request["Psi2"]);
          nx = Convert.ToDouble(Request["Nx2"]);
          ny = Convert.ToDouble(Request["Ny2"]);
          gamma = Convert.ToDouble(Request["Gamma2"]);

          CScode.UAVstate lastState = new CScode.UAVstate(v, teta, psi, h, l, z, nx, ny, gamma);
         model = new CScode.Model(startState, lastState, time);
         values = model.createOutPut(); 
    }
    
}
<head>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);


        function drawChart() {
 
            var data = google.visualization.arrayToDataTable([
                ["Time", "nx", "ny","gamma"],
                @values
                ]);
 
            
            var options = {
                title: 'Управления',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }

    </script>
</head>
 
<h3>We suggest the following:</h3>

 
     
                <form action="" method="post">
                    <label>Начальное состояние</label>
                    <p>
                        <label for="H">H: </label>
                        <input type="number" name="H1" value ="1000"/>
                    </p>
                    <p>
                        <label for="L">L: </label>
                        <input type="number" name="L1" value= "0"/>
                    </p>
                    <p>
                        <label for="Z">Z: </label>
                        <input type="number" name="Z1" value="0" />
                    </p>
                    <p>
                        <label for="V">V: </label>
                        <input type="number" name="V1" value="180" />
                    </p>
                    <p>
                        <label for="Teta">Teta: </label>
                        <input type="number" name="Teta1" value="0" />
                    </p>
                    <p>
                        <label for="Psi">Psi: </label>
                        <input type="number" name="Psi1" value="0" />
                    </p>
                    <p>
                        <label for="Nx">Nx: </label>
                        <input type="number" name="Nx1" value="0" />
                    </p>
                    <p>
                        <label for="Ny">Ny: </label>
                        <input type="number" name="Ny1" value="1" />
                    </p>
                    <p>
                        <label for="Gamma">Gamma: </label>
                        <input type="number" name="Gamma1" value="0" />
                    </p>
                    
               
            
                
                    <label> Конечное состояние</label>
                    <p>
                        <label for="H">H: </label>
                        <input type="number" name="H2" value="1300" />
                    </p>
                    <p>
                        <label for="L">L: </label>
                        <input type="number" name="L2" value="600" />
                    </p>
                    <p>
                        <label for="Z">Z: </label>
                        <input type="number" name="Z2" value="-500" />
                    </p>
                    <p>
                        <label for="V">V: </label>
                        <input type="number" name="V2" value="180" />
                    </p>
                    <p>
                        <label for="Teta">Teta: </label>
                        <input type="number" name="Teta2" value="0" />
                    </p>
                    <p>
                        <label for="Psi">Psi: </label>
                        <input type="number" name="Psi2" value="180" />
                    </p>
                    <p>
                        <label for="Nx">Nx: </label>
                        <input type="number" name="Nx2" value="0" />
                    </p>
                    <p>
                        <label for="Ny">Ny: </label>
                        <input type="number" name="Ny2" value="1" />
                    </p>
                    <p>
                        <label for="Gamma">Gamma: </label>
                        <input type="number" name="Gamma2" value="0" />
                    </p>
                    <p>
                        <label for="Time">Time: </label>
                        <input type="number" name="Time" value ="55" />
                    </p>
                    <p>
                        <input type="submit" value=" Compute " />
                    </p>
                </form>
             
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
 
